name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: coursier/cache-action@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Install package
      run: |
        sudo apt-get -y install javacc
    - name: Run tests
      working-directory: Java-CC/sbt-project/Lox/loxparser
      run: sbt javacc
         | sbt test
